.CardListMain {
  width: 100%;
  height: 100%;
}

.workspacePic {
  width: 32px;
  object-fit: cover;
}

.CardList {
  width: 100%;
  height: 100%;
  background-color: transparent;
  display: flex;
  overflow-y: auto;
  overflow-y: hidden;
  white-space: nowrap;
  padding: 0px;
}

.CardList {
  display: flex;
  padding: 0 0 0 170px;
}

.Board {
  background-color: transparent !important;
  height: calc(95vh - 75px) !important;
  z-index: 0;
  -webkit-overflow-scrolling: touch;
  scrollbar-color: rgba(255, 255, 255, 0.8) transparent;
  scrollbar-width: 3px;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}

.createCardList {
  border-radius: 6px;
  padding: 10px;
  max-width: 250px;
  height: max-content;
  background-color: rgb(33, 32, 32);
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid #2b2e31;
}

label {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-top: 5px;
  font-size: 20px;
  color: white;
}

input {
  width: 100%;
  height: 30px;
  margin-top: 10px;
  border-radius: 4px;
  padding: 10px;
  color: #a8aaac;
  background-color: #22272B;
  box-shadow: inset 0 0 0 2px var(--ds-border-input, #091e4224);
  border: 1px solid #2b2e31;
}

input:focus {
  outline: #616466 1px solid;
}


.createcardlistbtn {
  margin-left: 0px;
  margin-top: 15px;
  padding: 4px 10px;
  font-size: 14px;
  color: #1d2125;
  background-color: #579DFF;

}

.ChecklistModal {
  position: absolute;
  padding: 12px;
  width: 304px;
  height: max-content;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Noto Sans', 'Ubuntu', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  font-display: swap;
  background-color: var(--ds-surface-overlay, #282e33);
  border-radius: 8px;
  color: var(--ds-text, #b6c2cf);
  box-shadow: var(--ds-shadow-overlay, 0px 8px 12px #29282826, 0px 0px 1px #afb2b64f);
  border: 1px solid #b6c2cf0c;
  box-sizing: border-box;
  outline: 0;
  overflow: hidden;
}

.CheckListHeader {
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
  letter-spacing: -0.003em;
  text-align: center;
  margin: 0;
}

.ChecklistModal label {
  padding-top: 10px;
  font-size: 14px !important;
  font-weight: 600;
  letter-spacing: -0.003em;
  color: #9fadbc;
}

.ChecklistModal input {
  background-color: #23282b;
  outline: none;
}

.ChecklistModal button {
  background-color: var(--ds-link, #579dff);
  color: var(--ds-text-inverse, #1d2125);
  padding: 8px 20px;
  margin-top: 14px;
  border-radius: 4px;
}

.XmarkIcon {
  position: relative;
  right: -90px;
  top: 1px;
  cursor: pointer;
}

.InputCheck {
  padding: 17px 12px;
}

.ChecklistMainConatiner {
  height: max-content;
  align-items: center;
  gap: 25PX;
  width: 100%;
  display: flex;
}

.ChecHeader {
  display: flex;
  align-items: center;
  height: max-content;
  justify-content: space-between;
  width: 100%;
}

.ChecklistMain button {
  margin: 0;
  height: max-content;
  width: max-content;
  padding: 6px 12px;
  background-color: var(--ds-background-neutral, #A1BDD914);
  color: var(--ds-text, #b6c2cf);
  border-radius: 3px;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 14px;
  font-weight: 400;
  user-select: none;
}

.ChecHeader p {
  margin: 0;
  user-select: none;
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
}

.MenuButton {
  border: none;
  background-color: transparent !important;
}

.ExitFromX {
  position: relative;
  right: -289px;
  top: -25px;
}

.DateInput {
  border: 1px solid #9fadbc;
  width: 100%;
  outline-style: none;
  outline: none;
}

#CardAddDate {
  width: 100%;
  height: 600px;
  overflow-y: scroll;
}

#CardAddDate::-webkit-scrollbar {
  width: 10px;
}

#CardAddDate::-webkit-scrollbar-thumb {
  background-color: #2b2e31;
  border-radius: 12px;
}

.result {
  color: whitesmoke;
  font-size: 19px;
  /* border-top: 1px solid wheat; */
  text-align: center;
}

.result>span {
  color: wheat;
  margin-left: 10px;
  border: 1px solid #0c66e4;
  background-color: #22272B;
  padding: 8.4px;
}

.DueDates {
  width: 100%;
  height: 80px;
}

.DueDates>div {
  display: flex;
  justify-content: start;
  align-items: center;
}

.DueDates>span {
  font-weight: 600;
  font-size: 18px;
}

.DueDates>div>div>button {
  min-width: 130px;
  height: 45px;
  background-color: #4d4f50;
  border-radius: 6px;
  font-size: 18px;
  margin-left: 10px;
}

.DueDates>div>div>button>span {
  min-width: 70px;
  height: 30px;
  margin-left: 7px;
  margin-right: 7px;
  text-align: center;
  border-radius: 4px;
  color: white;
  background-color: #ca3521;
}

.DueDates>div>div>input {
  width: 22px;
  height: 22px;
  border: none;
  margin-top: 5px !important;
}

.DateCardModal {
  top: 42%;
  left: 51%;
  transform: translate(-50%, -50%);
}

/* ---------------------------------------------------------- */

.cardCustomFeildmain {
  width: 100%;
  height: 440px;
}

.cardCustomFeildmain>div {
  padding: 6px;
  height: 100%;
  color: #777a7c;
}

.cardCustomFeildmainHeader {
  width: 100%;
  height: 16%;
  display: flex;
  justify-content: space-between;
  align-items: first baseline;
  font-size: 25px;
  font-weight: 700;
}

.cardCustomFeildmainCenter {
  width: 100%;
  height: 65%;
  font-weight: 700;
}

.cardCustomFeildmainCenter>p {
  height: 10%;
  font-weight: 700;
  font-size: 18px;
}

.cardCustomFeildmainCenter>div {
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.fieldGridItem {
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  height: 100%;
}

.fieldGridItem>div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.fieldGridItem>div>div {
  width: 70%;
  font-size: 20px;
  background-color: #2c3235;
  border-radius: 4px;
  height: 100% !important;
  display: flex;
  justify-content: start;
  align-items: center;
}

.fieldGridItem>div>button {
  width: 20%;
  font-size: 22px;
  background-color: #2c3235;
  border-radius: 4px;
  height: 100% !important;
  font-weight: 700;
}

.cardCustomFeildmainNewField {
  width: 100%;
  height: 19%;
  display: flex;
  align-items: last baseline;
}

.FieldCreateTitileLabel {
  font-size: 23px;
  font-weight: 670;
  color: #6d6f70;
}

.createFieldBtn {
  width: 100%;
  height: 50px;
  border-radius: 6px;
  background-color: #282e33;
  margin-top: 30px;
}


.fieldTypeDropDown {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fieldTypeDropDown>input {
  width: 72%;
  height: 40px;
}

.fieldTypeDropDown>button {
  width: 20%;
  height: 40px;
  border-radius: 6px;
  background-color: #282e33;
}

.indropdownItems {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 5px;
}

.indropdownItems>div {
  width: 14%;
  height: 40px;
}

.indropdownItems>input {
  width: 74%;
  height: 40px;
  border: 1px solid #0c66e4;
}

.indropdownItems>button {
  width: 10%;
  height: 40px;
}

.colorBtn {
  width: 70%;
  height: 38px;
}

.CardInCustomFieldss {
  width: 100%;
  height: auto;
  color: #9fadbc;
  margin-top: 25px;
  margin-bottom: 20px;
}

.CardInCustomFieldssTitle {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: start;
  align-items: center;
}

.CustomFieldes {
  width: 100%;
  height: auto;
  display: grid;
  row-gap: 30px;
  column-gap: 30px;
  margin-top: 16px;
}

.CustomFieldHeader {
  width: auto;
  height: 20px;
  display: flex;
  align-items: center;
  font-size: 19px;
  margin-bottom: 5px;
}

.CustomFieldHeader>span {
  margin-right: 10px;
}

.CustomFieldCheckbox {
  display: flex;
  flex-direction: column;
  justify-content: start;
  border: none;
}

.CustomFieldCheckbox>input {
  border: none;
  margin-right: auto;
}

.CustomFieldDate input {
  height: 40px;
}
.CoverPopover{
  inset: -93px 71px auto auto !important;
  background-color: #282e33 !important;
  border: none !important;
}
.ColorContaier{
  width: 50px;
  height: 32px;
  cursor: pointer;
}
.ColorContaier:hover{
border: 2px solid rgb(87, 157, 255);
}
.Cover{
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 20px;
  width: 100%;
  height: 116px;
  border-top-left-radius: 0.5rem;
  border-top-right-radius:0.5rem;
}
.PopoverMember{
  inset: 0px 420px auto auto !important;
  background-color: #282e33 !important;
  border: none !important;
}
.BoardMembersHeader{
  font-size: 16px;
}
.userSvgConatiner{
  width: 30px;
  border-radius: 50%;
  background-color: #d9e3da;
  user-select: none;
}