.userAccount {
    background-color: #1d2125 !important;
    border-color: #1d2125;
    padding: 0.75rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.userAccount button {
    background-color: #384148;
    color: #9fadbc;
}

/* css de deyisiklik */
.shareButton {
    background-color: transparent;
    border-color: transparent;
}

.shareButton:hover {
    background-color: transparent;
    border-color: transparent;
}

.shareButton:active {
    background-color: transparent;
    border-color: transparent;
}

input {
    margin: 0 !important;
    transition: 300ms;
}


#NotificationModal {
    background-color: transparent;
    margin-top: 44px;
}

.mainnotifaction {
    width: 100%;
    height: auto;
}

.mainnotifaction>p {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
}
/* 787 */
.mainnotifaction>p>h1 {
    font-size: 28px;
    letter-spacing: 3px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.mainnotifaction>p>span {
    font-size: 18px;
    letter-spacing: 0.3px;
}

.mainnotifaction>div {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 14px;
}

.mainnotifaction>div>div {
    width: 90%;
    height: 120px;
    border: 1px solid #9fadbc;
    border-radius: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    margin-top: 5px;
}

.workAndBoardImage {
    width: 100px;
    height: 80%;
    background-color: rgb(196, 196, 196);
    border-radius: 19px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 64px;
    color: white;
}

.notificationMessage {
    width: 70%;
    min-width: auto;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    align-items: start;
    font-size: 16px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    letter-spacing: 0.8px;
    padding-left: 14px;
}

.goToWorkspaceAndBoard {
    width: 240px;
    display: flex;
    justify-content: end;
}

.ntcBtnGotoB {
    --primary-color: transparent;
    --secondary-color: #fff;
    --hover-color: rgb(0, 0, 0);
    --arrow-width: 10px;
    --arrow-stroke: 2px;
    box-sizing: border-box;
    border: 0;
    border-radius: 20px;
    color: var(--secondary-color);
    padding: 1em 1.8em;
    background: var(--primary-color);
    display: flex;
    transition: 0.2s background;
    align-items: center;
    gap: 0.6em;
    font-weight: bold;
    width: auto;
}


.ntcBtnGotoB .arrowWrapper {
    display: flex;
    width: var(--arrow-width);
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}

.ntcBtnGotoB .arrow {
    margin-top: 1px;
    background: var(--primary-color);
    height: var(--arrow-stroke);
    position: relative;
    transition: 0.2s;
}

.ntcBtnGotoB .arrow::before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    border: solid var(--secondary-color);
    border-width: 0 var(--arrow-stroke) var(--arrow-stroke) 0;
    display: inline-block;
    top: -3px;
    right: 3px;
    transition: 0.2s;
    padding: 3px;
    transform: rotate(-45deg);
}

.ntcBtnGotoB:hover {
    border-bottom: 1px solid rgb(196, 196, 196);
    color: white;
}

.ntcBtnGotoB:hover .arrow {
    background: var(--secondary-color);
}

.ntcBtnGotoB:hover .arrow:before {
    right: 0;
}