.sideBarMenuWrapper {
    height: 95vh;
    display: flex;
}

.sideBarMenu {
    height: 100%;
    width: 100%;
    background: rgba(30, 32, 37, 0.9);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    color: #9fadbc;
}

.sideBarMenuWorkspaceName {
    border-bottom: 1px solid #384148;
}

.sideBarMenuWorkspaceName,
.sideBarMenuTopMenuWrapper {
    width: 100% ;
    display: flex;
    align-items: center;
    height: 75px;
}

.workspacePic {
    width: clamp(16px, 4.5vw, 32px);
}

.sideBarMenuTopMenuWrapper {
    background: rgba(30, 32, 37, 0.6);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    z-index: 5;
    position: relative;
}

.sideBarMenuTopMenu {
    display: flex;
    color: #fff;
    justify-content: space-between;
    height: 75px;
}

.boardName {
    margin: 0;
    padding: 0.35rem;
    font-weight: 700;
}

[contenteditable]:focus,
[contenteditable]:focus-visible {
    border: 2px solid #388bff;
    border-radius: 0.5rem;
    background-color: rgba(145, 145, 220, 0.2);
    outline: none;
}

.workspacePrivacyDropdownWrapper {
    padding: 0 0.3rem;
    display: flex;
    align-items: center;
    border-radius: 8px;
    margin-right: 0.5rem;
}

.workspacePrivacyDropdownWrapper:hover {
    background-color: #384148;
}

.workspacePrivacyDropdown button {
    --bs-btn-color: #fff;
    font-weight: 500;
    --bs-btn-bg: transparent;
    --bs-btn-border-color: transparent;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: transparent;
    --bs-btn-hover-border-color: transparent;
    --bs-btn-focus-shadow-rgb: 0;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: transparent;
    --bs-btn-active-border-color: transparent;
    --bs-btn-active-shadow: none;
    --bs-btn-disabled-color: #1d2125;
    --bs-btn-disabled-bg: #384148;
    --bs-btn-disabled-border-color: #384148;
    --bs-btn-padding-x: 0rem;
    --bs-btn-padding-y: 0rem;
}

#workspace-privacy-dropdown-wrapper .dropdown .dropdown-menu[data-bs-popper] {
    margin-top: 19px;
}

.workspacePrivacyDropdown button::after {
    content: none;
}

.workspacePrivacyDropdown span,
.workspacePrivacyDropdown p {
    font-size: 0.9rem;
    color: #9eacba;
}

.profilesWrapper {
    display: flex;
    margin-left: 0.5rem;
}

.shareButton {
    margin-left: 1rem;
    --bs-btn-color: #1d2125;
    --bs-btn-bg: #579dff;
    --bs-btn-border-color: #579dff;
    --bs-btn-hover-color: #1d2125;
    --bs-btn-hover-bg: #78b0ff;
    --bs-btn-hover-border-color: #78b0ff;
    --bs-btn-focus-shadow-rgb: 0;
    --bs-btn-active-color: #1d2125;
    --bs-btn-active-bg: #579dff;
    --bs-btn-active-border-color: #579dff;
    --bs-btn-active-shadow: none;
    --bs-btn-disabled-color: #1d2125;
    --bs-btn-disabled-bg: #384148;
    --bs-btn-disabled-border-color: #384148;
    font-weight: 600;
    --bs-btn-padding-x: 0.7rem;
    --bs-btn-padding-y: 0.2rem;
    --bs-btn-font-family: ;
    --bs-btn-font-size: 0.9rem;
    --bs-btn-font-weight: 400;
    --bs-btn-line-height: 1.5;
    --bs-btn-color: var(--bs-body-color);
    --bs-btn-border-width: var(--bs-border-width);
    --bs-btn-border-radius: 3px;
}

.modalShareButton {
    margin-left: 0.5rem;
    --bs-btn-color: #1d2125;
    --bs-btn-bg: #579dff;
    --bs-btn-border-color: #579dff;
    --bs-btn-hover-color: #1d2125;
    --bs-btn-hover-bg: #78b0ff;
    --bs-btn-hover-border-color: #78b0ff;
    --bs-btn-focus-shadow-rgb: 0;
    --bs-btn-active-color: #1d2125;
    --bs-btn-active-bg: #579dff;
    --bs-btn-active-border-color: #579dff;
    --bs-btn-active-shadow: none;
    --bs-btn-disabled-color: #1d2125;
    --bs-btn-disabled-bg: #384148;
    --bs-btn-disabled-border-color: #384148;
    font-weight: 600;
    --bs-btn-padding-x: 1.25rem;
    --bs-btn-padding-y: 7px;
    --bs-btn-font-family: ;
    --bs-btn-font-size: 0.9rem;
    --bs-btn-font-weight: 400;
    --bs-btn-line-height: 1.5;
    --bs-btn-color: var(--bs-body-color);
    --bs-btn-border-width: var(--bs-border-width);
    --bs-btn-border-radius: 6px;
}

.userAccount{
    background-color: #1d2125 !important;
    border-color: #1d2125;
    padding: 0.75rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.userAccount button{
    background-color: #384148;
    color: #9fadbc;
}