body {
    background-color: #212529;
    color: #9FADBC;
    min-height: 100vh;
}

.text-default {
    color: #9fadbc !important;
}

.dropdown-menu {
    --bs-dropdown-zindex: 1000;
    --bs-dropdown-min-width: 10rem;
    --bs-dropdown-padding-x: 0;
    --bs-dropdown-padding-y: 0.5rem;
    --bs-dropdown-spacer: 0.125rem;
    --bs-dropdown-font-size: 1rem;
    --bs-dropdown-color: var(--bs-body-color);
    --bs-dropdown-bg: #212529;
    --bs-dropdown-border-color: #384148;
    --bs-dropdown-border-radius: var(--bs-border-radius);
    --bs-dropdown-border-width: var(--bs-border-width);
    --bs-dropdown-inner-border-radius: calc(var(--bs-border-radius) - var(--bs-border-width));
    --bs-dropdown-divider-bg: var(--bs-border-color-translucent);
    --bs-dropdown-divider-margin-y: 0.5rem;
    --bs-dropdown-box-shadow: var(--bs-box-shadow);
    --bs-dropdown-link-color: var(--bs-body-color);
    --bs-dropdown-link-hover-color: var(--bs-body-color);
    --bs-dropdown-link-hover-bg: transparent;
    --bs-dropdown-link-active-color: #fff;
    --bs-dropdown-link-active-bg: transparent;
    --bs-dropdown-link-disabled-color: var(--bs-tertiary-color);
    --bs-dropdown-item-padding-x: 1rem;
    --bs-dropdown-item-padding-y: 0.25rem;
    --bs-dropdown-header-color: #6c757d;
    --bs-dropdown-header-padding-x: 1rem;
    --bs-dropdown-header-padding-y: 0.5rem;
    position: absolute;
    display: none;
    min-width: var(--bs-dropdown-min-width);
    padding: var(--bs-dropdown-padding-y) var(--bs-dropdown-padding-x);
    margin: 0;
    font-size: var(--bs-dropdown-font-size);
    color: var(--bs-dropdown-color);
    text-align: left;
    list-style: none;
    background-color: var(--bs-dropdown-bg);
    background-clip: padding-box;
    border: var(--bs-dropdown-border-width) solid var(--bs-dropdown-border-color);
    border-radius: var(--bs-dropdown-border-radius);
}

.card {
    --bs-card-spacer-y: 1rem;
    --bs-card-spacer-x: 1rem;
    --bs-card-title-spacer-y: 0.5rem;
    --bs-card-title-color: ;
    --bs-card-subtitle-color: ;
    --bs-card-border-width: var(--bs-border-width);
    --bs-card-border-color: var(--bs-border-color-translucent);
    --bs-card-border-radius: var(--bs-border-radius);
    --bs-card-box-shadow: ;
    --bs-card-inner-border-radius: calc(var(--bs-border-radius) -(var(--bs-border-width)));
    --bs-card-cap-padding-y: 0.5rem;
    --bs-card-cap-padding-x: 1rem;
    --bs-card-cap-bg: rgba(var(--bs-body-color-rgb), 0.03);
    --bs-card-cap-color: ;
    --bs-card-height: ;
    --bs-card-color: ;
    --bs-card-bg: var(--bs-body-bg);
    --bs-card-img-overlay-padding: 1rem;
    --bs-card-group-margin: 0.75rem;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    height: var(--bs-card-height);
    color: var(--bs-body-color);
    word-wrap: break-word;
    background-color: var(--bs-card-bg);
    background-clip: border-box;
    border: var(--bs-card-border-width) solid var(--bs-card-border-color);
    border-radius: var(--bs-card-border-radius);
}

.navbar-brand {
    font-weight: 600;
    font-size: 1.25rem;
    color: #9eacba !important;
}

.navbar-custom {
    --bs-navbar-padding-y: 0.25rem;
    background-color: #1d2125 !important;
    border-bottom: 1px solid #384148;
    height: 5vh;
}

.custom-card {
    --bs-navbar-padding-y: 0.25rem;
    background-color: #22272b !important;
    border: 1px solid #384148;
    color: #9eacba;
}

.input-custom input {
    padding: 0.2rem 1rem;
}

.input-custom .form-control {
    background-color: #22272b;
    color: #9fadbc;
    border-color: #384148;
}

.input-custom .form-control::placeholder {
    color: #9fadbc;
}

.input-custom .form-control:focus {
    width: 30rem;
    transition: width 0.5s;
    box-shadow: none;
    border: 2px solid #388bff;
}

.input-custom .form-control:hover {
    background-color: #2b3136;
    transition: background-color 0.5s;
}

.selection-item:not(.disabled):hover {
    background-color: #384148;
    transition: background-color 0.5s;
}

.selection-item.disabled>span,
.selection-item.disabled>p {
    color: #535455 !important;
}

.custom-notification.btn-primary {
    --bs-btn-border-radius: 999px;
    --bs-btn-color: #1d2125;
    --bs-btn-bg: transparent;
    --bs-btn-border-color: transparent;
    --bs-btn-hover-color: #1d2125;
    --bs-btn-hover-bg: #384148;
    --bs-btn-hover-border-color: #384148;
    --bs-btn-focus-shadow-rgb: 0;
    --bs-btn-active-color: #1d2125;
    --bs-btn-active-bg: #384148;
    --bs-btn-active-border-color: #384148;
    --bs-btn-active-shadow: none;
    --bs-btn-disabled-color: #1d2125;
    --bs-btn-disabled-bg: #384148;
    --bs-btn-disabled-border-color: #384148;
}

.navbar-workspaces .card-text {
    color: #9fadbc !important;
    font-weight: 500;
}

.navbar-workspaces a {
    color: #9fadbc !important;
    font-weight: 500;
}

.create-dropdown .btn-primary {
    --bs-btn-color: #1d2125;
    --bs-btn-bg: #579dff;
    --bs-btn-border-color: #579dff;
    --bs-btn-hover-color: #1d2125;
    --bs-btn-hover-bg: #78b0ff;
    --bs-btn-hover-border-color: #78b0ff;
    --bs-btn-focus-shadow-rgb: 0;
    --bs-btn-active-color: #1d2125;
    --bs-btn-active-bg: #579dff;
    --bs-btn-active-border-color: #579dff;
    --bs-btn-active-shadow: none;
    --bs-btn-disabled-color: #1d2125;
    --bs-btn-disabled-bg: #384148;
    --bs-btn-disabled-border-color: #384148;
}

.create-dropdown button::after {
    content: none;
}

.create-dropdown {
    margin: auto;
}

.create-dropdown .btn {
    font-weight: 600;
    --bs-btn-padding-x: 0.7rem;
    --bs-btn-padding-y: 0.2rem;
    --bs-btn-font-family: ;
    --bs-btn-font-size: 0.9rem;
    --bs-btn-font-weight: 400;
    --bs-btn-line-height: 1.5;
    --bs-btn-color: var(--bs-body-color);
    --bs-btn-border-width: var(--bs-border-width);
    --bs-btn-border-radius: 3px;
}

.create-dropdown .dropdown-item .card {
    color: #9fadbc !important;

    .card-subtitle {
        font-weight: 600;
    }

    .card-text {
        font-size: 0.9rem;
    }
}

.create-dropdown .dropdown-menu[data-bs-popper] {
    margin-top: 9px;
}


.profile-pic {
    width: 32px;
    height: 32px;
    object-fit: cover;
}

.workspace-pic {
    width: clamp(25px, 4.5vw, 50px);
    object-fit: cover;
}

.navbar-workspaces .dropdown-menu {
    width: clamp(380px, 20vw, 15vw);
}

.navbar-workspaces .dropdown-menu[data-bs-popper] {
    margin-top: 4px;
}

.navbar-workspace-link:hover {
    border-radius: 0.5rem;
}

.navbar-workspace-link:hover,
.create-button-option-wrapper:hover {
    background-color: #384148;
}

.create-workspace-modal .modal-dialog {
    min-width: 65vw;
    min-height: 90vh;
}

.create-workspace-modal .modal-content {
    overflow: hidden;
    color: #9fadbc;
    background-color: #1d2125;
    width: 100%;
    height: 100%;
}

.create-share-link-modal .modal-content {
    color: #9fadbc;
    background-color: #1d2125;
}

.create-workspace-right-wrapper {
    background-image: url('https://trello.com/assets/df0d81969c6394b61c0d.svg');
}

#create-workspace-name,
#create-workspace-type,
#create-workspace-desc {
    background-color: transparent;
    border: 2px solid #384148;
    color: #9fadbc;
    box-shadow: none;
}

#create-workspace-name:focus,
#create-workspace-type:focus,
#create-workspace-desc:focus,
#create-workspace-name:hover,
#create-workspace-type:hover,
#create-workspace-desc:hover {
    border: 2px solid #388bff;
    transition: border 0.2s ease-in;
}

#create-workspace-name::placeholder {
    color: #9fadbc;
}

#create-workspace-type {
    background-color: #1d2125;
    --bs-form-select-bg-img: url(data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'><path fill='none' stroke='%237e8c9b' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/></svg>);
}

#create-workspace-type option:hover {
    background-color: #384148;
}

.default-submit {
    --bs-btn-color: #b3bfcb;
    --bs-btn-bg: #3b444c;
    --bs-btn-border-color: #3b444c;
    --bs-btn-hover-color: #b3bfcb;
    --bs-btn-hover-bg: #49545e;
    --bs-btn-hover-border-color: #49545e;
    --bs-btn-focus-shadow-rgb: 0;
    --bs-btn-active-color: #b3bfcb;
    --bs-btn-active-bg: #667583;
    --bs-btn-active-border-color: #667583;
    --bs-btn-active-shadow: none;
    --bs-btn-disabled-color: #1d2125;
    --bs-btn-disabled-bg: #384148;
    --bs-btn-disabled-border-color: #384148;
}

.create-workspace-submit {
    font-weight: bold;
    --bs-btn-color: #1d2125;
    --bs-btn-bg: #579dff;
    --bs-btn-border-color: #579dff;
    --bs-btn-hover-color: #1d2125;
    --bs-btn-hover-bg: #78b0ff;
    --bs-btn-hover-border-color: #78b0ff;
    --bs-btn-focus-shadow-rgb: 0;
    --bs-btn-active-color: #1d2125;
    --bs-btn-active-bg: #579dff;
    --bs-btn-active-border-color: #579dff;
    --bs-btn-active-shadow: none;
    --bs-btn-disabled-color: #1d2125;
    --bs-btn-disabled-bg: #384148;
    --bs-btn-disabled-border-color: #384148;
}

.create-workspace-close {
    --bs-btn-close-bg: url(data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%2344546f'><path%20d='M.293.293a1%201%200%200%201%201.414%200L8%206.586%2014.293.293a1%201%200%201%201%201.414%201.414L9.414%208l6.293%206.293a1%201%200%200%201-1.414%201.414L8%209.414l-6.293%206.293a1%201%200%200%201-1.414-1.414L6.586%208%20.293%201.707a1%201%200%200%201%200-1.414z'/></svg>);
    --bs-btn-hover-color: unset;
    --bs-btn-hover-bg: none;
    --bs-btn-hover-border-color: none;
    --bs-btn-active-color: #44546f;
    --bs-btn-active-bg: none;
    --bs-btn-active-border-color: none;
    --bs-btn-active-shadow: none;
    --bs-btn-close-color: #000;
    --bs-btn-close-opacity: 0.5;
    --bs-btn-close-hover-opacity: 0.75;
    --bs-btn-close-focus-shadow: 0;
    --bs-btn-close-focus-opacity: 1;
    --bs-btn-close-disabled-opacity: 0.25;
    --bs-btn-close-white-filter: invert(1) grayscale(100%) brightness(200%);
}

.create-board-card {
    width: 40%;
    background-color: #212529;
    border: 1px solid #384148;
    color: #9fadbc;
}

.search-result {
    border-radius: 8px;
    padding: 0.5rem;
    cursor: pointer;
}

.search-result:hover {
    background-color: #384148;
}

.defaultDropdown.btn-primary {
    --bs-btn-color: #9fadbc;
    --bs-btn-bg: #323940;
    --bs-btn-border-color: #323940;
    --bs-btn-hover-color: #9fadbc;
    --bs-btn-hover-bg: #57626d;
    --bs-btn-hover-border-color: #57626d;
    --bs-btn-focus-shadow-rgb: 0;
    --bs-btn-active-color: #9fadbc;
    --bs-btn-active-bg: #1c2b41;
    --bs-btn-active-border-color: #1c2b41;
    --bs-btn-active-shadow: none;
    --bs-btn-disabled-color: #1d2125;
    --bs-btn-disabled-bg: #384148;
    --bs-btn-disabled-border-color: #384148;
}

.defaultDropdown-link {
    color: #9fadbc;
}

.defaultDropdown-link:hover {
    background-color: #1c2b41;
    color: #9fadbc;
    border-left: 2px solid #579dff;
}

.btn-outline-default {
    background-color: #323940;
}

.btn-anchor {
    color: #4a7ec6 !important;
    font-weight: 500;
    text-decoration: none;
}

.btn-anchor:hover {
    text-decoration: underline;
}

.react-trello-card {
    background-color: #22272b !important;
    border: none !important;
}

.react-trello-card textarea {
    color: #9fadbc !important;
}

.react-trello-card header div button {
    color: #9fadbc !important;
    font-size: 0.75rem;
    margin-right: 5px;
    margin-top: 12px;
}

.react-trello-lane > div:first-of-type > div:nth-child(2) > article {
    color: #9fadbc !important;
    background-color: #22272b !important;
}