.Title {
    padding: 30px 0;
}

.MainContainer {
    height: 100vh;
    width: 100%;
    background-color: #000000;
    display: flex;
    justify-content: center;
}

.Main {
    width: 100%;
}

.form-check{
    display: flex;
    align-items: center;

}
.formCheck{
    display: flex;
    align-items: center;
}
.formCheck > label{
    margin-left: 15px;
}
.MainHeader {
    font-size: 48px;
    font-weight: 600;
    line-height: 53px;
    text-align: left;
    color: #FFFFFF;
}

.LoginButton {
    top: 344px;
    padding: 20px;
    border-radius: 25px;
    gap: 10px;
    background-color: #0D0D0D;
    border: none;
    width: 100%;
    font-family: Urbanist;
    font-size: 20px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: center;
    color: #777779;
}

.InputContainer {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

@keyframes anim-bg {
    0% {
        background-position: 0% 10%;
    }

    50% {
        background-position: 100% 20%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

@keyframes rotate {
    to {
        --angle: 360deg;
    }
}



.RightContainer {
    --s: 0px;
    transform-style: preserve-3d;

    &::after {
        content: "";
        position: absolute;
        inset: calc(-1*var(--s));
        background: conic-gradient(from var(--angle) at 50% 50%, #00ffff 0%, #00ABFF 25%, #aa41ff 55%, #e2ff41 75%, #00FF0B 100%);
        filter: blur(5rem);
        transform: translate3d(0px, 0px, -1px);
        border-radius: inherit;
        pointer-events: none;
        opacity: 0;
        transition: background-color 1s ease-in-out;
        animation: 5s rotate linear infinite;
    }
}

.RightContainer {
    position: relative;
    height: 803px;
    right: 0;
    border-bottom-left-radius: 23px;
    border-top-left-radius: 23px;
    background-color: #2B2D30;
    background-color: transparent;
    border: none;
}

.Image {
    border-bottom-left-radius: 23px;
    border-top-left-radius: 23px;
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: left;
}
.LeftContainer {
}
@media screen and (max-width: 700px) {
    .LeftContainer {
        grid-column: span 9 !important;
        padding: 0;
        display: flex;
        flex-direction: column;
    }

    .MainHeader {
        font-family: Urbanist;
        font-size: 32px;
        font-weight: 600;
        line-height: 35px;
        letter-spacing: 0em;
        text-align: left;
    }

    .RightContainer {
        display: none;
    }


    .MainContainer {
        display: flex;
        justify-content: center;
    }

    .InputContainer {
        width: 0px;
    }

    .LoginButton {
        height: 65px;
        padding: 0;
        border-radius: 20px;
        background-color: rgba(26, 26, 26, 1);
    }
}

@media screen and (max-width: 1023px) {
    .RightContainer {
        display: none;
    }

    .InputContainer {
        width: 100% !important;
    }

    .LeftContainer {
        grid-column: span 4 !important;
    }

    .MainContainer {
        grid-template-columns: repeat(6, 1fr) !important;
    }

}
@media screen and (max-width: 700px) {
    .LeftContainer {
        width: 497px !important;
    }
}
@media screen and (max-width: 630px) {
    .LeftContainer {
        width: 397px !important;
    }
}
@media screen and (max-width: 500px) {
    .LeftContainer {
        width: 347px !important;
    }
}

.FormContainer {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.FormContainer input {
    width: Fixed (501px);
    height: Hug (74px);
    padding: 20px;
    border-radius: 25px;
    gap: 10px;
    border: none;
    font-size: 20px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    color: #E1E0E480;
    background-color: #0D0D0D;
}

.FormContainer label {
    font-family: Urbanist;
    font-size: 20px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0em;
    color: #E1E0E4;
    text-align: left;

}

.FormContainer input:focus {
    outline: none;
    border: none;
}

.FormContainer input::placeholder {
    color: rgba(225, 224, 228, 0.5);
}

@media screen and (max-width: 700px) {
    .FormContainer input {
        background-color: #1A1A1A;
        font-family: Urbanist;
        font-size: 15px;
        font-weight: 500;
        line-height: 17px;
        letter-spacing: 0em;
        text-align: left;
        height: 65px;
        border-radius: 20px;
        gap: 10px;
    }

    .FormContainer label {
        font-family: Urbanist;
        font-size: 20px;
        font-weight: 500;
        line-height: 22px;
        letter-spacing: 0em;
        text-align: left;
    }

}